<style scoped>
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .container {
    font-size: 20px;
  }
  @media (min-width: 1200px) {
    .main-input-filed {
      margin-left: 210px;
    }
  }
  .result-balances {
    color: #008000;
  }
  .query-history {
    margin-top: 10px;
    font-size: 1.5rem;
  }
</style>
<template>
  <div class="container">
    <div class="row">
      <h1>物联卡(联通)流量查询</h1>
    </div>

    <div class="row">
      <div class="col-md-10">
        <form class="form-inline text-center">
          <div class="form-group">
            <div class="input-group main-input-filed">
              <div class="input-group-addon">ICCID</div>
              <input type="text" class="form-control input-filed" id="exampleInputAmount" v-model="iccid">
            </div>
          </div>
          <button class="btn btn-default" @click="query()" :disabled="queryStatus === 'doing' ">
            {{ queryStatus === 'doing' ? '查询中' : '查询' }}
          </button>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 query-history">
        上次查询:
        <span v-show="history_card">
          <a href="javascript:;" @click="query(history_card)" >{{ history_card }}</a>
          <sapn>(剩余: {{ history_balances }})</sapn>
        </span>
      </div>
    </div>

    <hr>

    <div class="row" v-show="hasResult">
      <div class="col-md-10">
        <form class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">ICCID:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{ card_number }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">当前套餐:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{ package }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">剩余流量:</label>
            <div class="col-sm-10">
              <p class="form-control-static result-balances">{{ balances }}</p>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">激活状态:</label>
            <div class="col-sm-10">
              <p class="form-control-static">{{ state }}</p>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</template>

<script>
  import unicomApi from '../api/unicom';

  export default {
    data () {
      return {
        iccid: '',
        history_card: '',
        history_balances: 0,
        // state
        hasResult: false,
        queryStatus: 'ready',
        // result
        card_number: '',
        package: '',
        balances: '',
        state: '',
      };
    },
    methods: {
      query (iccid = this.iccid) {
        const that = this;

        if (iccid) {
          this.queryStatus = 'doing';



          unicomApi.getUnicomCardInfo(iccid)
            .then(res => {
              if (res.status === 200) {
                that.hasResult = true;
                this.queryStatus = 'done';
                that.card_number = res.data.card_number || res.data.msg;
                that.package = res.data.package;
                that.balances = res.data.balances;
                that.state = res.data.state;

                window.localStorage.setItem('history_card', iccid);
                window.localStorage.setItem('history_balances', res.data.balances);
              }
            })
            .catch(err => {
              this.queryStatus = 'done';
              alert(err.data.msg || '查询出错,请稍后重试');
            })
        }
      }
    },
    ready () {
      const history_card = window.localStorage.getItem('history_card');
      if (history_card) {
        this.history_card = history_card;
        this.history_balances = window.localStorage.getItem('history_balances') || '无获取到数据';
      }
    }
  }

</script>
